/* CSS reset, dit niet aanpassen! */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  /* Hieronder mag je eigen CSS code */
  
  /* BODY SETTINGS/VARIABLES */
  body {
      display: grid;
      font-family: 'objektiv-mk1', Helvetica, Verdana, sans-serif;
      text-align:center;
      background-color: #ffffff;
  }
  
  :root{
      --navbar-height: 7vh;
  }

  /* FONT SETTINGS */
  h1 h2 h3 p { font-style: normal;}
  h1 { font-weight:900; font-size: 2.5rem;}
  h2 { font-weight: 800; font-size: 2rem;}
  h3 { font-weight: 600; font-size: 1.4rem; margin: 5px;}
  p { font-weight: 500;}

  /* GRIDS FOR ALL PAGE */
  .homepage-grid { grid-template-columns: auto; grid-template-rows: var(--navbar-height) auto; }
  .account-creation-grid { grid-template-columns: auto; grid-template-rows: var(--navbar-height) auto; }
  .user-dashboard-grid { grid-template-columns: 33vw 34vw 33vw; grid-template-rows: var(--navbar-height) 15vh auto; }
  .test-page-grid { grid-template-columns: 60vw 40vw; grid-template-rows: var(--navbar-height) auto; }
  .test-result-page-grid { grid-template-columns: 40vw 60vw; grid-template-rows: var(--navbar-height) auto; }
  .study-info-grid { grid-template-columns: 60vw 40vw; grid-template-rows: var(--navbar-height) auto}
  .login-page-grid { grid-template-columns: auto; grid-template-rows: var(--navbar-height) auto;  }

  /* GRID SETUPS */
  /* account creation page */
  .form-fields { grid-column: 1 / 2; grid-row: 2 / 3; text-align: left; margin: 5vh 10vw}
  .popup1 { grid-column: 1 / 2; grid-row: 1 / 3;}
  /* user dashboard */
  .container1 { grid-column: 1 / 2; grid-row: 3 / 4;} 
  .container2 { grid-column: 2 / 3; grid-row: 3 / 4;}
  .container3 { grid-column: 3 / 4; grid-row: 3 / 4;}
  /* login page */
  .content-align { grid-column: 1 / 2; grid-row: 2 / 3; text-align: left; margin:5vh 40vw;}
  /* test page */
  .test-content-grid { grid-column: 1 / 2; grid-row: 2 / 3; text-align: left; margin: 5vh 10vw;}
  .test-image-grid { grid-column: 2 / 3; grid-row: 2 / 3; }
  /* study info page */
  .study-content-grid { grid-column: 1 / 2; grid-row: 2 / 3; margin: 5vh 5vw;}
  .study-image-grid { grid-column: 2 / 3; grid-row: 2 / 3; }
  /* test result grid */
  .test-results-grid { grid-column: 2 / 3; grid-row: 2 / 3; margin: 5vh 1vw;}
  .test-results-image-grid { grid-column: 1 / 2; grid-row: 2 / 3; }
  /* NAVBAR */  
  .navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #353535;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar2 { grid-column: 1 / 3; }
  .navbar3 { grid-column: 1 / 4; }

  /* GENERAL PURPOSE */
  .background-image1 {
    background-image: url("img/testpage2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .background-image2 {
    background-image: url("img/cmd-poster.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .background-image3 {
    background-image: url("img/testpage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .box1 {
      background-color: #ffffff;
      border: 1px;
      border-radius: 15px;
      padding: 1rem;
  }

  .box1-addon1 {
    margin: 30px;
  }

  .box1-addon2 {
    margin: 10px 5px;
  }

  .box1-addon3 {
    background-color: #0d50f4;
  }

  .box2 {
    background-color: #0f00ec;
    border: 1px;
    border-radius: 15px;
    color: #ffffff;
    padding: 1rem;
  }

  .box3 {
    background-color: lightgrey;
    border: 1px;
    border-radius: 15px;
    padding: 1rem;
  }

  .box4 {
    background-color: #00edce;
    border: 1px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px; 
    margin: 5px;
  }

  .button1 {
    background-color: #0f00ec;
    border: 3px solid #0f00ec;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 800;
    padding: 6px;
    text-decoration: none;
    user-select: none; 
  }

  .button1:hover {
    opacity: 0.8;
  }

  .button2 {
    background-color: #00edce;
    border: 3px;
    border-radius: 20px;
    color:#000000;
    font-size: 1.2rem;
    font-weight:900;
    padding:10px;
    user-select: none;
    text-decoration: none;
  }

  .button2-addon1 {
    width:31vw;
  }

  .button3 {
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    padding: 6px;
    user-select: none;
    text-align: center;
    text-decoration: none;
  }

  .button-hover:hover {
    opacity: 0.9;
  }

  .button4 {
    background-color: transparent;
    border: 3px solid #000000;
    border-radius: 20px;
    color: #000000;
    font-weight: 800;
    padding: 6px;
    text-decoration: none;
    user-select: none;
  }

  .button5 {
    background-color: #ffffff;
    border: 1px;
    border-color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 3px 3px 10px 2px lightgrey;
    font-weight: 800; 
    font-size: 1.8rem;
    text-decoration: none;
    transition: padding 0.3s;
    user-select: none;
  }

  .button5:hover {
    background-color: #00edce;
    box-shadow: 3px 3px 10px 5px lightgrey;
    padding: 1.2rem;
  }

  .button5-correction {
    color: #000000;
    text-decoration: none;
  }

  .centered-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container1-margin {
    margin-right: 15px;
  }

  .container2-margin {
    margin-right: 15px;
    margin-left: 15px;
  }

  .container3-margin {
    margin-left: 15px;
  }
  
  .form1 {
    border: 1px;
    border-radius: 20px;
    background-color: #ffffff;
    font-family: 'objektiv-mk1';
    font-size:1rem;
    margin: 5px 10px;
    margin-bottom: 20px;
    padding: 5px 13px;
    outline: none;
  }

  .flex-start-row {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start;
  }

  .flex-start-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .flex-start-column-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
  }

  .fullpage-box{
    width: 60vw;
    margin: 2vh auto;
  }

  .list-position1 {
    margin: 15px;
    margin-left: 30%;
    font-size: 1.2rem;
    text-align:left;
  }

  .logo-dimensions {
    margin-left: 45%;
    width: 9%;
  }

  .logo-button {
    margin: 10px;
  }

  .popup1 {
    border-radius: 50px;
    margin: auto;
    width: 40vw;
    z-index: 1;
  }

  .popup2 {
    position: fixed;
    margin-left: 10vw;
    margin-top: 35vh;
    width: 40vw;
  }

  .progressbar1 {
    -webkit-appearance: none;
    -moz-appearnce: none;
    appearance: none;
    height: 45px;
    width: 90%;
  }

  .progressbar1::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 2px lightgrey;
  }

  .progressbar1::-webkit-progress-value {
    background-color: #00edce;
    border-radius: 30px;
  }

  .p-studyinfo {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2em;
  }

  .question-margin {
    margin-left: 30px;
  }

  .shadow1{
    box-shadow: 3px 3px 10px 2px lightgrey;
  }
  
  .study-content {
    text-align:left
  }

  .test-question {
    margin: 28px;
  }

  .test-results{
    text-align: left;
  }

  .spaced-evenly-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .spaced-between-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  /* ID's FOR JS*/
  #expandingbox2 {
    display:none;
  }

  #popup {
    display:none;
  }

  #page {
    z-index: 0;
  }



  /* MOBILE VERSION */
  @media (max-width: 1000px) {
    /* GRID CORRECTIONS */
    /* USER DASHBOARD */
    .user-dashboard-grid { grid-template-columns: auto; grid-template-rows: var(--navbar-height) 13vh auto auto auto; }
    .container1 { grid-column: 1 / 2; grid-row: 5 / 6;} 
    .container2 { grid-column: 1 / 2; grid-row: 4 / 5;}
    .container3 { grid-column: 1 / 2; grid-row: 3 / 4}

    /* STUDY INFO */
    .study-info-grid { grid-template-columns: auto; grid-template-rows: var(--navbar-height) auto 30vh; }
    .study-content-grid { grid-column: 1 / 2; grid-row: 2 / 3; margin: 1vh 10vw;}
    .study-image-grid { grid-column: 1 / 2; grid-row: 3 / 4; margin: 5vh 10vw;}

    /* TEST PAGE */
    .test-page-grid { grid-template-columns: auto; grid-template-rows: var(--navbar-height) auto }
    .test-content-grid { grid-column: 1 / 2; grid-row: 2 / 3; text-align: left; margin: 5vh 10vw;}

    /* TEST RESULT PAGE */
    .test-result-page-grid { grid-template-columns: auto; grid-template-rows: var(--navbar-height) auto 70vh; }
    .test-results-grid { grid-column: 1 / 2; grid-row: 2 / 3; margin: 2vh 5vw;}
    .test-results-image-grid { grid-column: 1 / 2; grid-row: 3 / 4; }

    /* LOGIN PAGE */
    .content-align { grid-column: 1 / 2; grid-row: 2 / 3; text-align: left; margin:5vh 10vw;}

    /* NAVBAR */
    .navbar3 { grid-column: 1 / 2; }
    .navbar2 { grid-column: 1 / 2; }

    h1 h2 h3 p { font-style: normal;}
    h1 { font-weight:900; font-size: 2rem;}
    h2 { font-weight: 800; font-size: 2rem;}
    h3 { font-weight: 600; font-size: 1.4rem; margin: 5px;}
    p { font-weight: 500;}

    .background-image1 {
      display: none;
    }
    .box4 {
      font-size: 1rem;
    }

    .container-margin {
      margin: 20px;
      margin-top: 0px;
    }

    .flex-start-row {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: left;
    }

    .fullpage-box {
      width: 90vw;
    }

    .list-position1 {
      margin-left: 8%;
    }
    
    .logo-dimensions {
      margin-left: 10px;
      width: 35%;
    }

    .mediaquery-nodisp {
      display: none;
    }

    .mediaquery-aligncenter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .mediaquery-align-vertical-center {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .popup1 {
      position: fixed;
      margin-left: 10vw;
      margin-top: 35vh;
      width: 80vw;
    }

    .popup2 {
      position: fixed;
      margin-left: 10vw;
      margin-top: 30vh;
      width: 80vw;
    }

    .p-studyinfo {
      font-size: 1rem;
    }

    .question-margin {
      margin-left: 10px;
    }

    #mediaoverride {
      margin-left: 25px;
      padding: 0px;
      display: block;
    }
  }

  